In [4]:
dict1 = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
}
dict1['Germany']
dict1['Italy']='Rome'
dict1

{'Germany': 'Berlin', 'Canada': 'Ottawa', 'Italy': 'Rome'}

In [ ]:
Summary
min(dictionary): Smallest key.

min(dictionary.values()): Smallest value.

min(dictionary, key=dictionary.get): Key with the smallest value.

In [7]:
data = {3: "apple", 1: "banana", 4: "cherry"}
print(min(data)) # minimum is key here which is 1

1

In [6]:
min(data.values()) # alphabetic order so apple

'apple'

In [13]:
data = {"orange": 2, "apple": 5, "banana": 3}
min(data)

'apple'

In [ ]:
data = {3: 50, 1: 20, 4: 30}

min_key = min(data, key=data.get)  # Finds the key with the smallest value
print(min_key)  # Output: 1

In [8]:
print(max(data))

4

In [9]:
print(max(data.values()))

cherry

In [10]:
len(data)

3

In [11]:
sum(data) # 3+1+4=8 sum of keys

8

In [12]:
num = {1: 10, 2: 20, 3: 30}
sum(num.values())

60

In [14]:
# sorted the keys
data = {3: "apple", 1: "banana", 4: "cherry"}
sorted(data)

[1, 3, 4]

In [1]:
# to sort dictionery
data = {3: "apple", 1: "banana", 4: "cherry"}

sorted_dict = {}  # Create an empty dictionary

# Iterate through sorted keys
for k in sorted(data):  
    sorted_dict[k] = data[k]  # Add key-value pair to the new dictionary

print(sorted_dict)
# Output: {1: 'banana', 3: 'apple', 4: 'cherry'}

{1: 'banana', 3: 'apple', 4: 'cherry'}

In [2]:
data = {3: "apple", 1: "banana", 4: "cherry"}
reversed(data)

In [3]:
list(reversed(data))

[4, 1, 3]

In [ ]:
reversed_dict = {k: data[k] for k in reversed(data)}
print(reversed_dict)
# Output: {4: 'cherry', 1: 'banana', 3: 'apple'}